/* #2196F3 - accent color */
:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --main-background-color: #ffffff;
  --contact-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --filter-button-background: #f5f4fa;
  --secondary-section-background: #f5f4fa;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.container {
  width: 1200px;
  margin: 0 auto;

  outline: 1px solid tomato;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
}

/* header section */

header.section {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

.nav-links .link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
}

.nav-links .current,
.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--accent-color);
}

.contacts .link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero section */

.hero {
  background-color: var(--footer-background-color);
  text-align: center;
}

.hero .title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.order-button {
  min-width: 216px;
  padding: 10px 32px;

  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* advantage section */

.hidden {
  margin: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
}

.advantage .title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.advantage p {
  margin-top: 0;
  margin-bottom: 0;
}
/* our work section */

.our-work {
  text-align: center;
}
.our-work.section {
  padding-top: 0;
}

/* our team */
.our-team {
  background-color: var(--secondary-section-background);
  text-align: center;
}

.our-team .item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-photo {
  margin-bottom: 30px;
}
.member-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--title-color);
}

.member-position {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.17;
}

/* footer */

footer {
  background-color: var(--footer-background-color);
}

footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-white-color);
}

footer li:not(:last-child) {
  margin-bottom: 9px;
}
footer .link {
  color: var(--footer-contact-color);
  text-decoration: none;
  font-style: normal;
}

footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
.location {
  font-size: 14px;
  color: var(--main-white-color);
  text-decoration: none;
  font-style: normal;
}

/* portfolio.html */

/* filter */
.filter .button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--filter-button-background);
  cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* gallery */

.gallery .link {
  text-decoration: none;
}

.gallery .item-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--title-color);
}

.gallery .item-description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}
